<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex</title>
</head>
<body>
    <h1>pokedex</h1>
    <% for( let i = 1; i < 10; i++ ) { %>
        <a href="/generation/<%= i %>">
            <div>
                <%= "Geração " + i %>
            </div>
        </a>
    <% } %>
    
</body>
</html>